<h1>Issue Notes</h1>

<div class="menu">
	<form class="navbar-form navbar-left">
		<div class="form-group">
			<input type="text" placeholder="Search By Key Word" ng-model="query" class="form-control">
		</div>
	</form>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>ID</th>
			<th>mortgageNumber</th>
			<th>close date</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-class-even="'even'" ng-class='{selected: $index==selectedRow}'
			ng-click="selectLoan($index)"
			ng-repeat="l in loans | filter:query">
			<td>{{$index+1}}</td>
			<td>{{l.pk}}</td>
			<td><a href="/#/loan/view/{{l.pk}}">{{l.mortgageNumber}}</a></td>
			<td>{{l.fileCloseDate | date:'yyyy-MM-dd (HH)'}}</td>
			<td><a class="btn btn-primary"
				ng-click="deleteUser(l, $index)" ng-class="{disabled: index < 0}">delete</a></td>
			<td><a class="btn btn-primary"
				href="/#/loan/edit/{{l.pk}}" ng-class="{disabled: index < 0}">edit</a></td>
		<tr>
	</tbody>
</table>